<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posteos</title>
    <link rel="stylesheet" href="./styles.css">
    
</head>
<body>
  <%- include('navbar')%>
  
    <main>
      <div class="card-presentacion">
        <h1>Bienvenido a mi Foro Personalizado</h1>
               
      </div>
      <div class="contenedor">
        <% allPosts.forEach((post)=>{ %>
        <div class="tarjeta">
          <figure>
            <img src="<%= post.link %>" />
          </figure>
          <div class="contenido">
            <h3><%= post.title %></h3>
            <p>
              <%= post.content %>
            </p>
            <a href="/post/update"><i class="bi bi-pencil-fill"></i></a>
            <a href="/post/delete"><i class="bi bi-trash-fill"></i></a>
          </div>
        </div>
        <% }); %>
      </div>
    </main> 
  <%- include('footer')%>
</body>
</html>