<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Posteo</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <%- include('navbar')%>
  <div>
    <form action="/post/update" method="post">
        <input type="text" name="title" placeholder="Título del posteo" value="<%= post.title %>"><br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="Contenido del posteo" > <%= post.content%></textarea><br>
        <input type="text" name="link" placeholder="Url de la imagen"  value="<%= post.link %>"><br>
        <button>Guardar cambios</button>
        <button>Cancelar</button>
    </form>
    
  </div>
  <%- include('footer')%>
</body>
</html>